.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-a {
  display: grid;
  justify-items: start;
  align-items: center;
  justify-content: start;
  align-content: center;
  margin: 20px;
}

.footer-b {
  display: grid;
  justify-items: end;
  margin: 20px;
}

.footer-b > a {
  margin: 2px;
}
