.footer {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.footer-link {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
